.Features{
    padding:25px 5vw;
    gap:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .featuresTextArea{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:1rem;
    }
    .featuresImg{
        padding:40px 4vw;
    }
    .featuresText{
        font-size: 2rem;
    }
    .catButton{
        border: none;
        width: 230px;
        height: 55px;
        border-radius: 5px;
        background-color: black;
        color:white;
        font-size: 1rem;
        cursor: pointer;
        span{
            color:rgb(150, 150, 150);
        }
    }
}

@media screen and (min-width: 767px){
    .Features{
        .featuresImg{
            padding:40px 15vw;
        }
    }
}

@media screen and (min-width: 1280px){
    .Features{
        padding: 10vh 10vw;
        flex-direction: row-reverse;
        gap:2rem;
        .featuresImg{
            height: 30vw;
            padding:0px;
        }
        .featuresText{
            font-size: 3rem;
        }
        .featureP{
            font-size:1.2rem;
        }
    }
}
